<br />

<div class="booyah-box">
  <h1 class="text-center">Learn something today</h1>
  <hr />
	  <% @courses.each do |course| %>
	  	<div class="course">
		    <h2>
		    	<%= link_to course.title, course_path(course) %>
		    	<%= image_tag course.image, :class => 'img-responsive' %>
		    </h2>

			<div class="description">
				<%= course.description %>
			</div>
			<div class="details">
				<%= link_to 'More Details...', course_path(course), :class => 'btn btn-primary btn-large pull-right'%>
			</div>
			<br class="clr" />
	  	</div>
	  <% end %>
</div>